body{
  margin:0;
  background-color: seagreen;
  color:white;
}
a{
  color:black;
  text-decoration: none;
  color:white;
}
h1{
  font-size:60px;
  text-align: center;
  margin:0;
  padding:20px;
  border-bottom: 2px solid ;
}
  input{
    font-size: 18px;
    width: 100px;
    margin:0;
    padding:0;
    text-align: center;
  }
 ol{
  width:90px;
  margin:0;
  padding:20px;
  margin-left:10px;
  border-right: 2px solid ;
}
p{
  margin-left:10px;
}
h2{
  margin:0;
  padding-left:10px;
  padding-top:10px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
@media(max-width:800px){
  #grid{
    display:block;
  }
  ol{
    border-right:none;
  }
  p{
    margin-left:10px;
  }
  h2{
    margin:0;
    padding-left:10px;
  }
}
